body {
  margin: 0;
  padding: 0;
}

header ul {
  display: flex;
  list-style: none;
  background-color: black;
  margin: 0;
  padding: 20px;
}
a {
  text-decoration: none;
  color: white;
}
li {
  padding: 10px;
  font-size: 20px;
}
